* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background: #fff;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
  
  /* Grid Layout */
.arrow-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
  
.arrow {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

@media (max-width: 950px) {
    .arrow-grid {
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); /* 최소 2열 */
    }
  }